<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</layout>
	</appender>


	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>server.log</file>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <immediateFlush>false</immediateFlush>
		</encoder>
	</appender>

	<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="FILE" />
	</appender>

	<appender name="akka" class="ch.qos.logback.core.FileAppender">
		<file>akka.log</file>
        <encoder>
			<pattern>%X{akkaTimestamp} %-5level %logger{36} %X{akkaSource} - %msg%n</pattern>
        </encoder>
	</appender>

	<logger name="com.chessix" level="info" />

    <logger name="com.chessix.vas.actors" level="info" additivity="false">
        <appender-ref ref="akka"/>
    </logger>

	<root level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ASYNC" />
	</root>
</configuration>

